@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
     <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Login</title>
            <meta http-equiv="refresh" content="5">

            <style>
                .log{
                    margin:auto;
                    width:30%;
                    height:50%;
                    text-align:center;
                    color:slategray;
                }     
                 .tb1{          
                    position:relative;
                    margin:auto;
                    padding:5px;
                    text-align:center;
                }   
                .button-1 {
                  background-color: #EA4C89;
                  border-radius: 8px;
                  border-style: none;
                  box-sizing: border-box;
                  color: #FFFFFF;
                  display: inline-block;
                  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                  list-style: none;
                  text-decoration: none;
                  transition: color 100ms;
                  touch-action: manipulation;
                  text-align:center;

                }
                .button-1:hover,
                .button-1:focus {
                  background-color: #F082AC;
                }

            </style>



    

    </head>
    <body>
        <header>
            <div>
                 <h1 class="log">Login Section !</h1>
            </div>
        </header>
        <form>
        <table>
            <div class="tb1">
                  <tr>
                      <td>Nume:</td>
                      <td><input type="text" placeholder="Username" size="20px"></td>
                  </tr>
                  <tr>
                      <td>Password:</td>
                      <td><input type="password"  placeholder="Your Password" size="20px"></td>
                <button class="button-1" role="button">Login</button>
                  </tr>    
            </div>
        </table>
           
                
        




    </form>
    </body>

    </html>

